header,
main,
footer {
  min-height: 100vh;
}

.content {
  height: 100vh;
  padding-top: 0;
  position: relative;
}
main .content {
  justify-content: space-evenly;
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5px;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #333;
  letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #333;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  box-sizing: border-box;
  border: 3px solid #333;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #333;
  border-radius: 50%;
  animation: ani-mouse 2.5s linear reverse infinite;
}

.fade {
  animation: opac 0.8s 1;
}
@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#cssload {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9;
  background-color: #fff;
}

.cssload-cube,
.cssload-half1,
.cssload-half2,
.cssload-container {
  transform-style: preserve-3d;
}

.cssload-container {
  position: absolute;
  width: 97px;
  height: 97px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  perspective: 292px;
  transform-style: preserve-3d;
}

.cssload-cube {
  width: 97px;
  height: 97px;
  transform-style: preserve-3d;
}

.cssload-cube {
  animation: cube 11.5s forwards infinite;
  transform-origin: center 49px;
}

.cssload-half1 {
  height: 39px;
  top: 0;
  position: absolute;
  animation: half-fold 11.5s forwards infinite;
  transform-origin: 50% 100%;
}

.cssload-side {
  width: 19px;
  height: 19px;
  background: rgb(221, 221, 221);
  position: absolute;
}

.cssload-s1 {
  top: 0;
  left: 39px;
  transform-origin: 50% 100%;
  animation: s1ani 11.5s forwards infinite;
}

.cssload-s2 {
  top: 19px;
  left: 39px;
  transform-origin: 50% 0%;
  animation: s2ani 11.5s forwards infinite;
}

.cssload-s3 {
  top: 39px;
  left: 39px;
  transform-origin: 50% 0%;
  animation: s3ani 11.5s forwards infinite;
}

.cssload-s4 {
  top: 58px;
  left: 39px;
  transform-origin: 50% 0%;
  animation: s4ani 11.5s forwards infinite;
}

.cssload-s5 {
  left: 19px;
  top: 19px;
  transform-origin: 100% 50%;
  animation: s5ani 11.5s forwards infinite;
}

.cssload-s6 {
  left: 58px;
  top: 39px;
  transform-origin: 0% 50%;
  animation: s6ani 11.5s forwards infinite;
}

@keyframes cube {
  0% {
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(0deg);
  }
  40% {
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
    /* CUBE ROTATES BACK */
  }
  60% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    /* ARMS FOLD UP */
  }
  65% {
    transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
    /* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
  }
  70% {
    transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
  }
  75% {
    transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
    /* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
  }
  80% {
    transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
  }
  90% {
    transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
    /* FADE TO BLACK */
  }
}


@keyframes s1ani {
  0% {
    opacity: 1;
    transform: translateY(0px);
    background: rgb(221, 221, 221);
  }
  40% {
    transform: rotateX(0deg);
    background: rgb(221, 221, 221);
  }
  50% {
    transform: rotateX(-90deg);
    background: rgb(221, 221, 221);
  }
  90% {
    transform: rotateX(-90deg);
  }
}

@keyframes s2ani {
  0% {
    opacity: 0;
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  40% {
    background: rgb(221, 221, 221);
  }
  45% {
    background: rgb(180, 180, 180);
  }
  65% {
    opacity: 1;
    background: rgb(180, 180, 180);
    /* DARKEST VISIBLE */
  }
  80% {
    background: rgb(180, 180, 180);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes s3ani {
  0% {
    opacity: 0;
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
    transform: rotateX(-179deg);
  }
  20% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  40% {
    background: rgb(221, 221, 221);
  }
  45% {
    background: rgb(150, 150, 150);
    /* DARKEST VISIBLE */
  }
  90% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}


@keyframes s4ani {
  0% {
    opacity: 0;
    transform: rotateX(-179deg);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: rotateX(-179deg);
  }
  30% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  40% {
    transform: rotateX(0deg);
    background: rgb(221, 221, 221);
  }
  50% {
    transform: rotateX(90deg);
    background: rgb(180, 180, 180);
  }
  80% {
    background: rgb(180, 180, 180);
  }
  90% {
    opacity: 1;
    transform: rotateX(90deg);
  }
  100% {
    opacity: 0;
  }
}


@keyframes s5ani {
  0% {
    opacity: 0;
    transform: rotateY(-179deg);
  }
  10% {
    opacity: 0;
    transform: rotateY(-179deg);
  }
  20% {
    opacity: 1;
    background: rgb(221, 221, 221);
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  55% {
    background: rgb(221, 221, 221);
  }
  60% {
    background: rgb(200, 200, 200);
  }
  90% {
    transform: rotateY(90deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes s6ani {
  0% {
    opacity: 0;
    transform: rotateY(179deg);
  }
  20% {
    opacity: 0;
    transform: rotateY(179deg);
  }
  30% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
    background: #dddddd;
  }
  60% {
    background: #c8c8c8;
  }
  80% {
    background: #c8c8c8;
  }
  90% {
    opacity: 1;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
  }
}


@keyframes half-fold {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  60% {
    transform: rotateX(-90deg);
  }
  90% {
    transform: rotateX(-90deg);
  }
}