@font-face {
    font-family: "Catamaran";
    src: local('../fonts/Catamaran-light'), url('../fonts/Catamaran-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Catamaran";
    src: local('../fonts/Catamaran-Regular'), url('../fonts/Catamaran-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Catamaran";
    src: local('../fonts/Catamaran-Medium'), url('../fonts/Catamaran-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Catamaran";
    src: local('../fonts/Catamaran-Black'), url('../fonts/Catamaran-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
